<% provide :title, t(".title") %>
<div class="center jumbotron">
  <h1><%= t(".heading")%></h1>
  <h2>
    <%= t(".descripiton", link: link_to(t("about_rails"), "http://www.railstutorial.org/help/")).html_safe %><br><br>
    <%= t(".descripiton2", link: link_to(t("rails_tutorial"), "http://www.railstutorial.org/book/")).html_safe %>
  </h2>
  <%= link_to t("sign_up_now"), "#", class: "btn btn-lg btn-primary" %>
</div>
